In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [2]:
 csv_file = "data-csv/squads.csv"
squads = pd.read_csv(csv_file)
squads.head()

,key_id,tournament_id,tournament_name,team_id,team_name,team_code,player_id,family_name,given_name,shirt_number,position_name,position_code
0,1,WC-1930,1930 FIFA World Cup,T-03,Argentina,ARG,P-01578,Bossio,Ángel,0,goal keeper,GK
1,2,WC-1930,1930 FIFA World Cup,T-03,Argentina,ARG,P-02109,Botasso,Juan,0,goal keeper,GK
2,3,WC-1930,1930 FIFA World Cup,T-03,Argentina,ARG,P-06974,Cherro,Roberto,0,forward,FW
3,4,WC-1930,1930 FIFA World Cup,T-03,Argentina,ARG,P-07975,Chividini,Alberto,0,defender,DF
4,5,WC-1930,1930 FIFA World Cup,T-03,Argentina,ARG,P-06464,Della Torre,José,0,defender,DF

In [3]:
new_squads = squads[['tournament_id', 'team_id','team_name', 'player_id','family_name','given_name','shirt_number','position_name','position_code']].copy()

In [4]:
new_squads['year']= new_squads['tournament_id'].str.strip().str[-4:]
new_squads = new_squads.loc[(new_squads['year'] > '1997')]
new_squads.head()

,tournament_id,team_id,team_name,player_id,family_name,given_name,shirt_number,position_name,position_code,year
5757,WC-1998,T-03,Argentina,P-01172,Roa,Carlos,1,goal keeper,GK,1998
5758,WC-1998,T-03,Argentina,P-09897,Ayala,Roberto,2,defender,DF,1998
5759,WC-1998,T-03,Argentina,P-08577,Chamot,José,3,defender,DF,1998
5760,WC-1998,T-03,Argentina,P-03136,Pineda,Mauricio,4,defender,DF,1998
5761,WC-1998,T-03,Argentina,P-07930,Almeyda,Matías,5,midfielder,MF,1998

In [5]:
#Connect to local database

protocol = 'postgresql'
username = 'postgres'
password = '20168_AUsc'
host = 'localhost'
port = 5432
database_name = 'fifawc_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [6]:
insp.get_table_names()

['tournaments', 'team_appearances', 'matches', 'squads']

In [7]:
# Use pandas to load csv converted DataFrame into database

new_squads.to_sql(name='squads', con=engine, if_exists='append', index=False)

In [8]:
# Check that data has been fed into table
pd.read_sql_query('select * from squads', con=engine).head()

,tournament_id,team_id,team_name,player_id,family_name,given_name,shirt_number,position_name,position_code,year
0,WC-1998,T-03,Argentina,P-01172,Roa,Carlos,1,goal keeper,GK,1998
1,WC-1998,T-03,Argentina,P-09897,Ayala,Roberto,2,defender,DF,1998
2,WC-1998,T-03,Argentina,P-08577,Chamot,José,3,defender,DF,1998
3,WC-1998,T-03,Argentina,P-03136,Pineda,Mauricio,4,defender,DF,1998
4,WC-1998,T-03,Argentina,P-07930,Almeyda,Matías,5,midfielder,MF,1998