In [7]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [8]:
 csv_file = "data-csv/matches.csv"
matches = pd.read_csv(csv_file)
matches.head()

,key_id,tournament_id,tournament_name,match_id,match_name,stage_name,group_name,group_stage,knockout_stage,replayed,...,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
0,1,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,group stage,Group 1,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
1,2,WC-1930,1930 FIFA World Cup,M-1930-02,United States v Belgium,group stage,Group 4,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
2,3,WC-1930,1930 FIFA World Cup,M-1930-03,Yugoslavia v Brazil,group stage,Group 2,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
3,4,WC-1930,1930 FIFA World Cup,M-1930-04,Romania v Peru,group stage,Group 3,1,0,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
4,5,WC-1930,1930 FIFA World Cup,M-1930-05,Argentina v France,group stage,Group 1,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0

In [9]:
new_matches = matches[['match_id', 'tournament_id','match_name', 'stage_name','group_stage','knockout_stage','home_team_id','away_team_id','score','home_team_score','away_team_score','extra_time','penalty_shootout','score_penalties','home_team_score_penalties','away_team_score_penalties','result','home_team_win','away_team_win','draw']].copy()

In [10]:
new_matches['year']= new_matches['tournament_id'].str.strip().str[-4:]
new_matches = new_matches.loc[(new_matches['year'] > '1997')]
new_matches.head()

,match_id,tournament_id,match_name,stage_name,group_stage,knockout_stage,home_team_id,away_team_id,score,home_team_score,...,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw,year
516,M-1998-01,WC-1998,Brazil v Scotland,group stage,1,0,T-09,T-61,2â€“1,2,...,0,0,0-0,0,0,home team win,1,0,0,1998
517,M-1998-02,WC-1998,Morocco v Norway,group stage,1,0,T-45,T-51,2â€“2,2,...,0,0,0-0,0,0,draw,0,0,1,1998
518,M-1998-03,WC-1998,Italy v Chile,group stage,1,0,T-39,T-13,2â€“2,2,...,0,0,0-0,0,0,draw,0,0,1,1998
519,M-1998-04,WC-1998,Cameroon v Austria,group stage,1,0,T-11,T-05,1â€“1,1,...,0,0,0-0,0,0,draw,0,0,1,1998
520,M-1998-05,WC-1998,Paraguay v Bulgaria,group stage,1,0,T-53,T-10,0â€“0,0,...,0,0,0-0,0,0,draw,0,0,1,1998

In [ ]:
#Connect to local database

protocol = 'postgresql'
username = '<user name>'
password = '<password>'
host = 'localhost'
port = 5432
database_name = '#databasename#'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [ ]:
insp.get_table_names()

In [ ]:
# Use pandas to load csv converted DataFrame into database

new_customer_data_df.to_sql(name='goals', con=engine, if_exists='append', index=False)