In [60]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [61]:
 csv_file = "data-csv/penalty_kicks.csv"
penalty_kicks_df = pd.read_csv(csv_file)
penalty_kicks_df.head()

,key_id,penalty_kick_id,tournament_id,tournament_name,match_id,match_name,match_date,stage_name,group_name,team_id,team_name,team_code,home_team,away_team,player_id,family_name,given_name,shirt_number,converted
0,1,PK-001,WC-1982,1982 FIFA World Cup,M-1982-50,West Germany v France,1982-07-08,semi-finals,not applicable,T-82,West Germany,DEU,1,0,P-02728,Kaltz,Manfred,20,1
1,2,PK-002,WC-1982,1982 FIFA World Cup,M-1982-50,West Germany v France,1982-07-08,semi-finals,not applicable,T-82,West Germany,DEU,1,0,P-02216,Breitner,Paul,3,1
2,3,PK-003,WC-1982,1982 FIFA World Cup,M-1982-50,West Germany v France,1982-07-08,semi-finals,not applicable,T-82,West Germany,DEU,1,0,P-09412,Stielike,Uli,15,0
3,4,PK-004,WC-1982,1982 FIFA World Cup,M-1982-50,West Germany v France,1982-07-08,semi-finals,not applicable,T-82,West Germany,DEU,1,0,P-05795,Littbarski,Pierre,7,1
4,5,PK-005,WC-1982,1982 FIFA World Cup,M-1982-50,West Germany v France,1982-07-08,semi-finals,not applicable,T-82,West Germany,DEU,1,0,P-08975,Rummenigge,Karl-Heinz,11,1

In [62]:
new_penalty_kicks_df = penalty_kicks_df[['match_id', 'match_name','match_date', 'stage_name','team_id','team_name','player_id','family_name','given_name','shirt_number','converted']].copy()

new_penalty_kicks_df.head()

,match_id,match_name,match_date,stage_name,team_id,team_name,player_id,family_name,given_name,shirt_number,converted
0,M-1982-50,West Germany v France,1982-07-08,semi-finals,T-82,West Germany,P-02728,Kaltz,Manfred,20,1
1,M-1982-50,West Germany v France,1982-07-08,semi-finals,T-82,West Germany,P-02216,Breitner,Paul,3,1
2,M-1982-50,West Germany v France,1982-07-08,semi-finals,T-82,West Germany,P-09412,Stielike,Uli,15,0
3,M-1982-50,West Germany v France,1982-07-08,semi-finals,T-82,West Germany,P-05795,Littbarski,Pierre,7,1
4,M-1982-50,West Germany v France,1982-07-08,semi-finals,T-82,West Germany,P-08975,Rummenigge,Karl-Heinz,11,1

In [63]:
new_penalty_kicks_df = new_penalty_kicks_df.loc[(new_penalty_kicks_df['match_date'] > '1997-12-31')]

In [64]:
knock_out = ['final','semi-finals','quarter-finals']

new_penalty_kicks_df = new_penalty_kicks_df.loc[new_penalty_kicks_df['stage_name'].isin(knock_out)]

In [65]:
new_penalty_kicks_df['year'] = pd.DatetimeIndex(new_penalty_kicks_df['match_date']).year

In [67]:
new_penalty_kicks_df.groupby(['team_name','year']).sum()

                  shirt_number  converted
team_name   year
Argentina   2006            45          2
            2014            43          4
Brazil      1998            38          4
Costa Rica  2014            29          3
Croatia     2018            57          4
England     2006            43          1
France      1998            50          4
            2006            53          3
Germany     2006            61          4
Ghana       2010            36          2
Italy       1998            67          3
            2006            58          5
Netherlands 1998            30          2
            2014            83          6
Portugal    2006            69          3
Russia      2018            32          3
South Korea 2002            87          5
Spain       2002            55          3
Uruguay     2010            64          4