In [12]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [13]:
 csv_file = "data-csv/team_appearances.csv"
team_appearances = pd.read_csv(csv_file)
team_appearances.head()

,key_id,tournament_id,tournament_name,match_id,match_name,stage_name,group_name,group_stage,knockout_stage,replayed,...,goals_against,goal_differential,extra_time,penalty_shootout,penalties_for,penalties_against,result,win,lose,draw
0,1,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,group stage,Group 1,1,0,0,...,1,3,0,0,0,0,win,1,0,0
1,2,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,group stage,Group 1,1,0,0,...,4,-3,0,0,0,0,lose,0,1,0
2,3,WC-1930,1930 FIFA World Cup,M-1930-02,United States v Belgium,group stage,Group 4,1,0,0,...,0,3,0,0,0,0,win,1,0,0
3,4,WC-1930,1930 FIFA World Cup,M-1930-02,United States v Belgium,group stage,Group 4,1,0,0,...,3,-3,0,0,0,0,lose,0,1,0
4,5,WC-1930,1930 FIFA World Cup,M-1930-03,Yugoslavia v Brazil,group stage,Group 2,1,0,0,...,1,1,0,0,0,0,win,1,0,0

In [15]:
new_team_appearances = team_appearances[['team_id', 'tournament_name','match_id', 'opponent_id','home_team','away_team','goals_for','goals_against','goal_differential','extra_time','penalty_shootout','penalties_for','penalties_against','result','win','lose','draw']].copy()

In [16]:
new_team_appearances['year']= new_team_appearances['tournament_name'].str.strip().str[:4]
new_team_appearances = new_team_appearances.loc[(new_team_appearances['year'] > '1997')]
new_team_appearances.head()

,team_id,tournament_name,match_id,opponent_id,home_team,away_team,goals_for,goals_against,goal_differential,extra_time,penalty_shootout,penalties_for,penalties_against,result,win,lose,draw,year
1032,T-09,1998 FIFA World Cup,M-1998-01,T-61,1,0,2,1,1,0,0,0,0,win,1,0,0,1998
1033,T-61,1998 FIFA World Cup,M-1998-01,T-09,0,1,1,2,-1,0,0,0,0,lose,0,1,0,1998
1034,T-45,1998 FIFA World Cup,M-1998-02,T-51,1,0,2,2,0,0,0,0,0,draw,0,0,1,1998
1035,T-51,1998 FIFA World Cup,M-1998-02,T-45,0,1,2,2,0,0,0,0,0,draw,0,0,1,1998
1036,T-39,1998 FIFA World Cup,M-1998-03,T-13,1,0,2,2,0,0,0,0,0,draw,0,0,1,1998

In [ ]:
#Connect to local database

protocol = 'postgresql'
username = '<user name>'
password = '<password>'
host = 'localhost'
port = 5432
database_name = '#databasename#'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [ ]:
insp.get_table_names()

In [ ]:
# Use pandas to load csv converted DataFrame into database

new_customer_data_df.to_sql(name='goals', con=engine, if_exists='append', index=False)